html {
    background-color: #ccc;
}
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.naixt-game {
    --container-scale-x: 80;
    --container-scale-y: 98;
    /*
    --unit-width: calc(min(
        var(--container-scale-x) * 1vw,
        var(--container-scale-y) * 1vh
    ));
    --unit-height: var(--unit-width);
    */
    --unit-width: calc(var(--container-scale-x) * 1vw);
    --unit-height: calc(var(--container-scale-y) * 1vh);
    height: var(--unit-height);
    width: var(--unit-width);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.naixt-side.controller {
    grid-area: 2 / 1 / 3 / 2;
    background-color: #7c7;
}
.naixt-side.enemy {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #c77;
}
